/* Ensure these classes are defined for background transitions */
.background-image-next {
    transition: background-image 0.7s ease-in-out;
  }
  
  .background-image-prev {
    transition: background-image 0.7s ease-in-out;
  }
  
  .carousel {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Hide overflow to prevent cutting */
    position: relative; /* Position relative for absolute children */
}

  /* Handle the animation effect when switching images */
  @keyframes effectNext {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes effectPrev {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  